# Credenciales
appsettings.json
appsettings.*.json

# Build
bin/
obj/

# Visual Studio
.vs/
*.user
*.suo

# VS Code
.vscode/

# Logs
*.log
logs/

# Secretos
*.pfx
*.key
secrets.json

# OS
.DS_Store
Thumbs.db